* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('CenturyGothic.eot');
  src: url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('CenturyGothic.woff') format('woff'),
  url('CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media screen and (min-aspect-ratio: 1/1) {
  body {
    margin: 0;
    padding: 0;
    height: 300vh;
    width: 100vw;
    overflow: scroll;
  }

  a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    outline: none;
  }

  #first {
    background: url("../images/back1.png") no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

  }

  .toplane {
    height: 47vmin;
    min-height: 100px;
  }

  .midlane {
    height: 20vmin;
    text-align: center;
  }

  .botlane {
    height: 33vmin;
    position: relative;
  }

  .ico {
    display: inline-block;
    margin: 2%;
    width: 6vh;
    height: 6vh;
  }

  .centertextblock {
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
  }

  h2 {
    font-family: 'Actor', sans-serif;
    font-size: 5vh;
    text-align: center;
    color: white;
    margin-top: 0;
  }

  h3 {
    font-family: 'Actor', sans-serif;
    font-size: 3vh;
    text-align: center;
    color: white;
  }

  .logoback {
    background: url("../images/logoback.png") no-repeat;
    background-size: contain;
    height: 47vmin;
    width: 47vmin;
    float: left;
    min-width: 100px;
    min-height: 100px;
  }

  .logo {
    background: url("../images/Logo.png") no-repeat center center;
    background-size: contain;
    width: 59%;
    height: 21%;
    margin-left: 9%;
    margin-top: 8%;
  }

  .social {
    background: inherit;
    text-align: center;
    padding: 0;
    vertical-align: middle;
    margin-top: 8vh;
    margin-right: 8vh;
    float: right;
    overflow: hidden;
  }

  .social2 {
    background: inherit;
    text-align: center;
    padding: 0;
    vertical-align: middle;
    overflow: hidden;
    float: left;
    margin: 2vh auto 2vh
  }

  .socicon {
    margin-left: 11px;
    display: inline-block;
    line-height: 32px;
    width: 32px;
    height: 32px;
  }

  .contact {
    margin-left: 45px;
    display: inline-block;
    line-height: 32px;
    width: 130px;
    height: 38px;
    vertical-align: top;
    background: url("../images/Shape-10.png") no-repeat;
    background-size: contain;
    font-family: "Century Gothic", serif;
    font-size: 15pt;
    color: white;
  }

  figure.img {
    text-align: center;
    position: relative;
    margin-top: 60%;
    margin-left: 40%;
    margin-right: 0;
    max-width: 100%;
    max-height: 100%;
  }

  figure.img img {
    position: relative;
  }

  figure.img figcaption {

    min-font-size: 10px;
    font-size: 2vmin;
    font-family: "Century Gothic", serif;
    max-height: 100%;
  }

  #next1 {
    background: url("../images/nextback1.png") no-repeat;
    background-size: contain;
    position: relative;
    width: 33vmin;
    height: 33vmin;
    float: right;
    cursor: pointer;
    color: rgb(35, 35, 35);
  }

  #next2 {
    background: url("../images/nextback2.png") no-repeat;
    background-size: contain;
    width: 33vmin;
    height: 33vmin;
    cursor: pointer;
    color: white;
    position: absolute;
    bottom: 0;
    margin-left: -100%;
    right: 0;
  }

  #second {
    position: relative;
    background: rgb(245, 245, 245) url("../images/Hex-green.png") no-repeat;
    background-size: contain;
    background-position-x: 0;
    margin: inherit;
    padding: inherit;
    min-height: 100vh;
    width: 100vw;
  }

  .midcontainer {
    width: 66vw;
    position: relative;
    left: 25vw;
    padding-bottom: 10vh;
  }

  .contimg {
    vertical-align: bottom;
    width: 15vw;
    padding-top: 5vh;
  }

  .contarrow {
    vertical-align: bottom;
    width: 3vw;
    margin-left: -2.5vw;
  }

  .conttext {
    margin: 1.5vmin;
    vertical-align: bottom;
    display: inline-block;
    width: 40vw;
    font-family: 'Actor', sans-serif;
    font-size: 1vw;
    color: black;
  }

  #third {
    height: 100vh;
    width: 100vw;

    background: #37474f url("../images/back3.png") no-repeat bottom left;
    background-size: 45vw;
  }

  .about {
    display: inline-block;
    width: 40vw;
    height: 90vh;
    float: left;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vh;
    color: white;
    font-family: 'Actor', sans-serif;
    font-size: 2.5vmin;

  }

  .inputform {
    display: inline-block;
    min-font-size: 10px;
    font-size: 2vmin;
    font-family: "Century Gothic", serif;
    margin: 2vh 5vw auto;
    width: 30vw;
    height: 90vh;
    position: relative;
  }

  .monostring {
    font-size: inherit;
    font-family: inherit;
    margin-top: 2vmin;
    width: 100%;

  }

  .polystring {
    font-size: inherit;
    font-family: inherit;
    overflow: hidden;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    width: 100%;

  }

  .button {

    background-color: #689f38;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #ffffff;

    font-size: 2.5vmin;
    font-family: "Century Gothic", serif;
    padding: 0 2vmin 0;

    float: right;
    height: 1.5em;
    margin: auto;

    text-decoration: none;
    text-align: center;
  }

  .button:hover {
    background-color: #35a76e;
  }

  .button:active {
    position: relative;
    top: 1px;
  }

  .whitetext {
    color: white;
    font-size: 4vmin;
  }

  .abouttext {
    text-align: right;
    margin-top: 10vh;
  }

  .aboutico {
    float: right;
    padding: 1.5vmin;
  }

  .line {
    margin: 2% auto 2%;
    border-bottom: 1px solid white;
    width: 40%;
  }

  .knabu {

    background: url("../images/knabu.png") no-repeat center;
    background-size: contain;
    height: 15%;
    margin: auto auto 20vh;
  }

  .fiber {

    background: url("../images/fiberinternet.png") no-repeat center;
    background-size: contain;
    height: 15%;
    margin: auto;
  }

  .address {
    color: white;
    width: 100%;
  }

  .addressico {
    padding: 3px;
  }

  .copyright {
    font-size: 1.5vmin;
    font-family: "Century Gothic", serif;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0vh;
  }

  .small {
    display: none;
  }
}

@media screen and (max-aspect-ratio: 1/1) {
  body {
    margin: 0;
    padding: 0;
    /*height: 300vh;*/

    width: 100vw;
    overflow: scroll;
  }

  /*a {*/
  /*text-decoration: none;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*outline: none;*/
  /*}*/
  #first {
    background: url("../images/back1.png") no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

  }

  .toplane {
    height: 47vh;
    min-height: 100px;
  }

  .midlane {
    height: 20vh;
    text-align: center;
  }

  .botlane {
    height: 33vh;
    position: relative;
  }

  .ico {
    display: inline-block;
    margin: 2%;
    width: 6vh;
    height: 6vh;
  }

  .centertextblock {
    position: absolute;
    left: 0;
    right: 0;
    top: 32%;
  }

  h2 {
    font-family: 'Actor', sans-serif;
    font-size: 5vmin;
    text-align: center;
    color: white;
    margin-top: 0;
  }

  h3 {
    font-family: 'Actor', sans-serif;
    font-size: 3vmin;
    text-align: center;
    color: white;
  }

  .logoback {
    height: 0;
    width: 0;
    float: left;
  }

  .logo {
    background: url("../images/Logo.png") no-repeat center center;
    background-size: contain;
    width: 28vmin;
    height: 10vmin;
    margin-left: calc(50vw - 14vmin);
    margin-top: 20vh;
  }

  .social {
    text-align: center;
    padding: 0;
    vertical-align: middle;
    margin-top: 8vh;
    margin-right: 8vh;
    float: right;
    overflow: hidden;
  }

  .socicon {
    margin-left: 11px;
    display: inline-block;
    line-height: 32px;
    width: 32px;
    height: 32px;
  }

  .contact {
    display: none;
  }

  figure.img {
    text-align: center;
    position: relative;
    margin-top: 60%;
    margin-left: 40%;
    margin-right: 0;
    max-width: 100%;
    max-height: 100%;
  }

  figure.img img {
    position: relative;
  }

  figure.img figcaption {
    display: none;
  }

  #next1 {
    background: url("../images/nextback1.png") no-repeat;
    background-size: contain;
    position: relative;
    width: 33vh;
    height: 100%;
    float: right;
    cursor: pointer;
    color: rgb(35, 35, 35);
  }

  #next2 {
    background: url("../images/nextback2.png") no-repeat;
    background-size: contain;
    width: 33vmin;
    height: 33vmin;
    float: right;
    cursor: pointer;
    color: white;
    margin-left: -100%;
    right: 0;
  }

  #next2::after {
    clear: both;
  }

  #second {
    overflow: hidden;
    background: rgb(245, 245, 245);
    height: auto;
    width: 100vw;
  }

  .midcontainer {
    width: 100vw;
    margin: 0;
  }

  .contimg {
    vertical-align: bottom;
    width: 80vw;
    margin-top: 10vw;
    margin-left: 10vw;
  }

  .contarrow {
    vertical-align: bottom;
    width: 10vw;
    margin-left: -8vw;
  }

  .conttext {
    margin: 1.5vmin;
    vertical-align: bottom;
    display: inline-block;
    width: 100vw;
    padding-left: 6vw;
    padding-right: 6vw;
    font-family: 'Actor', sans-serif;
    font-size: 3vw;
    color: black;
  }

  #third {
    /*height: 100vh;*/
    width: 100vw;
    background: #37474f;
  }

  .about {
    display: inline-block;
    width: 80vw;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vh;
    color: white;
    font-family: 'Actor', sans-serif;
    font-size: 2.5vmin;
  }

  .inputform {
    display: inline-block;
    min-font-size: 10px;
    font-size: 2vmin;
    font-family: "Century Gothic", serif;
    /*margin: 2vh 5vw auto;*/
    width: 100vw;
  }

  .monostring {
    font-size: inherit;
    font-family: inherit;
    margin-top: 2vmin;
    margin-left: 10vw;
    width: 80vw;
  }

  .polystring {
    font-size: inherit;
    font-family: inherit;
    overflow: hidden;
    margin-top: 2vmin;
    margin-bottom: 2vmin;
    margin-left: 10vw;
    width: 80vw;
  }

  .button {
    display: block;
    background-color: #689f38;
    color: #ffffff;
    font-size: 4vmin;
    font-family: "Century Gothic", serif;
    padding: 0 4vmin 0;
    height: 1.7em;
    margin: 2vh auto 2vh;
    text-decoration: none;
    text-align: center;
  }

  .button:hover {
    background-color: #35a76e;
  }

  .button:active {
    position: relative;
    top: 1px;
  }

  .whitetext {
    color: white;
    font-size: 4vmin;
    text-align: center;
    margin-top: 10vh;
  }

  .abouttext {
    text-align: right;
    margin-top: 10vh;
  }

  .aboutico {
    float: right;
    padding: 1.5vmin;
  }

  .line {
    margin: 2% auto 2%;
    border-bottom: 1px solid white;
    width: 40%;
  }

  .knabu {

    background: url("../images/knabu.png") no-repeat center;
    background-size: contain;
    height: 20vh;
    margin: auto auto 10vh;
  }

  .fiber {

    background: url("../images/fiberinternet.png") no-repeat center;
    background-size: contain;
    height: 20vh;
    margin: auto;
  }

  .address {
    color: black;
    text-align: center;
    background: white;
    width: 100%;
  }

  .addressico {
    padding: 3px;
    position: relative;
    bottom: -1vh;
  }

  .copyright {
    color: black;
    text-align: center;
    background: white;
    font-size: 1.5vmin;
    font-family: "Century Gothic", serif;
    position: relative;
    bottom: 0;
  }

  .social2 {
    margin: 2vh;
  }

  .big {
    display: none;
  }
}